<?php
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atlantic-Garden City United Church</title>
    <link rel="stylesheet" href="Styles/Admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="3P7CWLbT"></script>
</head>
<body>
    <header>
        <?php require "Shared_Templates/header_template.php"; ?>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <h1 class="warning">Admin Login</h1>
        <h3 class="warning">Warning: Unauthorized Access Is Strictly Prohibited!</h3>
    </header>
    <form>
        <label>Username:</label>
        <input type="text" id="username" name="username"><br>
        <label>Password:</label>
        <input type="password" id="password" name="password"><br>
        <label>I Am Authorized to Log In:</label>
        <input type="checkbox" id="authorized" name="authorized">
        <input type="submit" id="submit" name="submit">
    </form>
    <h3>Please click <a href="index.php">here</a> to return to our home page</h3>
    <footer>
        <?php require "Shared_Templates/footer_template.php"; ?>
    </footer>
</body>
</html>
