<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
    <button type="button" class="btn btn-outline-dark">
        <a href="https://www.facebook.com/AGCUC"><img src="f_logo_RGB-Blue_100.png"></a>
        <a href="https://www.youtube.com/channel/UCaI3ZkX4uU916nk_5jnUh5w" class="fa fa-youtube"></a>
    </button>
</div>



